/* about start */
.about {
  padding: 50px 0px;
}

.about .alfa_p {
  padding-bottom: 30px;
  color: blue;
}

.about h3 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 50px;
}

.about .alfa_p1 {
  line-height: 25px;
  padding-bottom: 40px;
}

.about a {
}
/* about end */

/* footer start */
footer {
  background-color: blue;
  padding: 75px 0;
  color: white;
}
footer h1 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 10px;
}
footer p {
  margin-bottom: 10px;
}

footer .social {
  margin-top: 10px;
}
footer ul {
}
footer ul li {
  margin: 0 21px;
}
footer ul li a {
  color: white;
}

/* footer end */
