/* footer start */
footer {
  background-color: $footer_background;
  padding: 75px 0;
  color: white;

  .social {
    margin-top: 10px;
    ul {
      li {
        margin: 0 21px;
        a {
          color: white;

          svg {
            &:hover {
              color: orange;
            }
          }
        }
      }
    }
  }

  h1 {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
}
 /* footer end */