* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
}
a,
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: middle;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h5,
ul,
ol,
li,
img,
p,
body,
.navbar,
.row {
  margin: 0px;
  padding: 0px;
}

.mt-30 {
  margin-top: 30px;
}

.common-heading-service {
  padding: 74px 0px 82px;
}

.common-heading-service h1 {
  font-family: ;
  font-weight: 800;
  font-size: 46px;
  color: #02918c;
}
.common-heading-service img {
  margin-top: 43px;
  margin-left: 0px;
  width: 107px;
  margin-bottom: 6px;
}

/* / about start / */

.about {
  padding: 50px 0px;
}

.about .alfa_p {
  padding-bottom: 30px;
  color: #3b5493;
}

.about h3 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 50px;
}

.about .alfa_p1 {
  line-height: 25px;
  padding-bottom: 40px;
}

.about a {
}

/* / about end / */

/* / service part start / */

.service-part {
  background: #f0f0e8;
}

.service-con {
  margin-left: 82px;
}

.service-con p {
  font-size: 16px;
  color: #7e8287;
  line-height: 48px;
}

.service-con-2 h5 {
  font-size: 16px;
  font-weight: 800;
  color: #7e8287;
  padding: 17px 0px 8px;
}

.service-con-2 h6 {
  font-size: 11px;
  color: #7e8287;
  line-height: 24px;
}

/* / service part end / */

/* counter start */
.counter {
  padding: 40px 0;
  background-color: rgb(85, 193, 243);
}

.counter h1 {
  font-size: 35px;
}
.counter i {
  font-size: 30px;
}
/* counter end */

/* footer start */
footer {
  background-color: #2f89fc;
  padding: 75px 0;
  color: white;
}
footer h1 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 10px;
}
footer p {
  margin-bottom: 10px;
}

footer .social {
  margin-top: 10px;
}
footer ul {
}
footer ul li {
  /* margin: 0 21px; */
  margin-bottom: 3px;
}
footer ul li a {
  color: white;
}

.sociallist li {
  margin: 0 21px;
}

.sociallist li i {
  font-size: 25px;
}

/* footer end */
