// common css start
$main_color: #3b5493;
$main_green: #10de40;
$footer_background: #172a59;
// common css end

// header start
header {
}
// header end

// cards start
.cards {
}
// cards end

// welcome start
.welcome {
}
// welcome end

// whatwedo start
.whatwedo {
}
// whatwedo end

// certification start
.certification {
}
// certification end

// rm start
.rm {
}
// rm end

// doctor start
.doctor {
}
// doctor end

// appointment start
.appointment {
}
// appointment end

// team start
.team {
}
// team end

// slider start
.slider {
}
// slider end

// contact start
.contact {
}
// contact end

// footer start
footer {
  background-color: $footer_background;
  padding: 75px 0;

  .social {
    margin-top: 10px;
    ul {
      li {
        margin: 0 21px;
        a {
          color: white;

          svg {
            &:hover {
              color: orange;
            }
          }
        }
      }
    }
  }
}
// footer end
